@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@300;400&family=Rajdhani&family=Yeon+Sung&display=swap");

body {
  background-color: #f4f7f9;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url("/public/assets/bg.jpg");
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0px;
  font-family: "Nanum Pen Script", cursive;
}

/* .App {
  padding: 20px;

  font-family: "Nanum Pen Script", cursive;
  font-family: "Yeon Sung", cursive;
} */

@media (min-width: 650px) {
  .App {
    width: 60vw;
  }
}

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  min-height: 100vh;
  padding: 0 20px;
}

/* MyButton */
.MyButton {
  cursor: pointer;
  border: none;
  border-radius: 5px;

  padding: 10px 20px;

  font-family: "Nanum Pen Script", cursive;
  font-size: 18px;

  white-space: nowrap;
}

.MyButton_default {
  background-color: #e9efef;
  color: black;
}

.MyButton_positive {
  background-color: #5190a2;
  color: white;
}

.MyButton_negative {
  background-color: #d6674c;
  color: white;
}

/* MyHeader */
header {
  padding: 20px 0px;

  display: flex;
  align-items: center;

  border-bottom: 1px solid #e2e2e2;
}

header > div {
  display: flex;
}

header .head_text {
  width: 50%;
  font-size: 25px;
  justify-content: center;
}

header .head_btn_left {
  width: 25%;
  justify-content: start;
}

header .head_btn_right {
  width: 25%;
  justify-content: end;
}

header button {
  font-family: "Nanum Pen Script", cursive;
}

/* DiaryList */
.DiaryList .menu_wrapper {
  margin: 20px 0 30px 0;
  display: flex;
  justify-content: space-between;
}

.DiaryList .menu_wrapper .right_col {
  flex-grow: 1; /* 남은 모든 넓이 차지 */
}

.DiaryList .menu_wrapper .right_col button {
  width: 100%;
}

.DiaryList .ControlMenu {
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #e9efef;

  padding: 10px 20px;
  cursor: pointer;

  font-family: "Nanum Pen Script", cursive;
  font-size: 18px;
}

/* DiaryItem */
.DiaryItem {
  padding: 15px 0;
  border-bottom: 1px solid #e2e2e2;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.DiaryItem .emotion_img_wrapper {
  cursor: pointer;
  min-width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
}

.DiaryItem .emotion_img_wrapper img {
  width: 90%;
}

.DiaryItem .info_wrapper {
  flex-grow: 1;
  margin-left: 40px;
  cursor: pointer;
}

.DiaryItem .diary_date {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 5px;
}

.DiaryItem .diary_content_preview {
  font-size: 18px;
}

.DiaryItem .btn_wrapper {
  min-width: 70px;
}

/* DiaryEditor */
.DiaryEditor {
}

.DiaryEditor section {
  margin-bottom: 40px;
}

.DiaryEditor h4 {
  font-size: 22px;
  font-weight: bold;
}

.DiaryEditor .input_date {
  border: none;
  border-radius: 5px;
  background-color: #e9efef;

  padding: 10px 20px;

  cursor: pointer;
  font-family: "Nanum Pen Script", cursive;
  font-size: 20px;
}

.DiaryEditor .emotion_list_wrapper {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 2%;
}

.DiaryEditor textarea {
  font-family: "Nanum Pen Script", cursive;
  font-size: 20px;

  box-sizing: border-box;
  width: 100%;
  min-height: 200px;
  resize: vertical;

  border: none;
  border-radius: 5px;
  background-color: #e9efef;

  padding: 20px;
}

.DiaryEditor .control_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* EmotionItem */
.EmotionItem {
  cursor: pointer;
  border-radius: 5px;
  padding: 20px 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.EmotionItem img {
  width: 80%;
}

.EmotionItem span {
  font-size: 20px;
}

.EmotionItem_off {
  background-color: #e9efef;
}

.EmotionItem_on_1 {
  background-color: #c1d8e4;
}

.EmotionItem_on_2 {
  background-color: #edce76;
}

.EmotionItem_on_3 {
  background-color: #ed8c91;
}

.EmotionItem_on_4 {
  background-color: #cce2de;
}

.EmotionItem_on_5 {
  background-color: #8e7a94;
}

.EmotionItem_on_6 {
  background-color: #abb4b2;
}

.EmotionItem_on_7 {
  background-color: #d6674c;
}

.EmotionItem_on_8 {
  background-color: #a7ac8e;
}

/* Diary */
.DiaryPage {
}

.DiaryPage section {
  width: 100%;
  margin-bottom: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.DiaryPage h4 {
  font-size: 26px;
  font-weight: bold;
}

.DiaryPage .diary_img_wrapper {
  width: 250px;
  height: 160px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.DiaryPage .diary_img_wrapper img {
  width: 94%;
}

.DiaryPage .emotion_descript {
  font-size: 20px;
  font-family: "Yeon Sung", cursive;
}

.DiaryPage .diary_content_wrapper {
  width: 90%;
  background: #e9efef;
  border-radius: 5px;

  word-break: keep-all;
  overflow-wrap: break-word;
}
.DiaryPage .diary_content_wrapper p {
  padding: 20px 50px;
  text-align: left;

  font-size: 20px;
  font-family: "Yeon Sung", cursive;
  font-weight: 400;
  line-height: 2.4;
}
